# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#this folder in general
.idea/

.sass-cache/

#---------------------
node_modules/
.vscode/
package-log.json
dev/babel.config.json
dev/package-lock.json
