/* it's a stylesheet of cart of PLAZA.shop */

$main-color: #DF16BF; //don't forget to change this in other files!!!
$not-that-black: #202020;
$blue-one: #5D5FEF;

h1 {
  font-size: max(24px, 2.2vw);
  margin-left: 1%;
  margin-top: 2vw;
}

.ico-choose {
  cursor: pointer;

  border: 1px solid $not-that-black;
  aspect-ratio: 1 / 1;
}

.cart__item-block {
  &:first-child {
    margin-top: 0; // deco fix
  }
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;

  width: 100%;
  aspect-ratio: 10 / 3;

  background: #fff;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: grid;
  grid-template-areas: "__img-wrapper __text __btns"
                        "__img-wrapper __info_and_prise __info_and_prise"
                        "__instalment __instalment __instalment";
  grid-template-columns: 2.8fr 6.1fr 1.1fr;
  grid-template-rows: 2.1fr 0.9fr 0fr;

  .__img-wrapper {
    grid-area: __img-wrapper;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    .__img-wrapper__img-itself {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;

      height: 80%;
      width: 80%;
    }
    .__discount__indicator {
      position: absolute;
      top: 2vw;
      left: 1vw;

      height: calc(min(4vw, 42px) * 1.4);
      aspect-ratio: 1 / 1;
      text-align: center;
      vertical-align: middle;

      font-size: min(4.2vw, 38px);
      color: #fff;
      background-color: gold;

      border-radius: 50%;
      transform: rotate(10deg);
    }
  }
  .__text {
    grid-area: __text;

    margin-top: 5%;

    font-size: min(1.9vw, 22px);
  }
  .__btns {
    padding-top: 10%;

    grid-area: __btns;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

  }
  .__item-clone, .__item-remove {
    height: min(3.7vw, 40px);
    aspect-ratio: 1 / 1;

    border: 2px solid $main-color;
    border-radius: 5px;

    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;

    transition: background 0.2s, color 0.2s;

  }
  .__item-clone {
    background-image: url("../res/ico/duplicate_pink.svg");
    &:hover {
      background-color: $main-color;
      background-image: url("../res/ico/duplicate_white.svg");
    }
  }
  .__item-remove {
    background-image: url("../res/ico/remove_pink.svg");
    &:hover {
      background-color: $main-color;
      background-image: url("../res/ico/remove_white.svg");
    }
  }
  .__info_and_prise {
    grid-area: __info_and_prise;

    display: flex;
    justify-content: space-between;

    padding-bottom: 5%;
  }
  .__info-box {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;



    font-size: min(1.8vw, 18px);
    white-space: nowrap;
  }
  .ico-choose {
    height: min(1.5vw, 15px);

    margin-right: 0.3vw; // deco fix
  }
  .__howManyAvailable {
    color: $blue-one;

    margin-right: 1.1vw; // deco fix
  }
  .show-hide-instalment {


    display: flex;
    align-items: baseline;
  }
  .__prise-box {
    padding-right: 2vw;
    padding-top: 1vw;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-wrap: wrap;

    white-space: nowrap;
  }
  .__prise {
    color: $main-color;

    font-size: min(2.6vw, 29px);
  }
  .__prise_old {
    margin-right: 1vw;

    color: $main-color;

    font-size: min(1.8vw, 23px);
    text-decoration: line-through;
  }
}





.buy-btn-section {
  padding: 5%;

  background: #fff;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  aspect-ratio: 35 / 21;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .__total-price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .__total-amount, .__total-price {
    margin-top: 0.2vw;
    margin-bottom: 0.2vw;

    font-size: min(2.5vw, 27px);

    span {
      color: $main-color;
    }
  }
}
.cart__buy-btn {
  width: 75%;
  aspect-ratio: 4 / 1;

  border-radius: 8px;
  background-color: $main-color;
  color: #fff;

  font-size: min(2.5vw, 27px);

  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.08);
  }
}

.under-buy-btn-section {

  > * {
    margin-top: 1vw; // deco fix
    margin-left: 1vw; // deco fix
  }

  button {
    color: $blue-one;
    text-decoration: underline;

    font-size: min(1.9vw, 18px);
  }
}
.cart__error-report {
  color: red;

  font-size: min(1.9vw, 18px);

  padding-right: 6px; // deco fix
}